*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace
}
#root{
  height:100vh
}
.layout{
  height: 100%;
  display: grid;
  grid-template-areas: header main footer;
  grid-template-rows: 60px 1fr 60px;
}
/*  */


footer{
  background-color: blue;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 26px;
}